.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.logo {
    margin: 25px 0 0 25px;
}
.display {
    margin: 25px 25px 0 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .button-container {
      display: flex;
  }

  .special-number-container {
    margin: 20px 0 20px 25px;
    width: 300px;
  }

  .buttons {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 10px;
    color: white;
    font-size: 30px;
    outline: none;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
  }

  .buttons:active {
      box-shadow: none;
  }

  .number-buttons {
    background-color: blue;
    border: 1px solid blue;
  }

  .number-buttons:nth-child(10) {
    width: 165px;
    border-radius: 45%;
  }

  .special-buttons {
      background-color: royalblue;
      border: 1px solid royalblue;
  }

  .operator-buttons-container {
    margin-top: 10px;
  }

  .operator-buttons {
    display: flex;
    justify-content: center;
    border: 1px solid steelblue;
    background-color: steelblue;
    margin: 20px 0 0 0;
  }